body {
  background-color: #9932CC;
}



.box {
  width: 600px;
  height: 300px;
  border: 1px solid white;
  padding: 10px;
  margin: auto;
  text-color: white;
}


.heading {
  text-color: white;
  font-size: 15px;
}

{box-sizing: border-box;}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 280px;
  margin: auto;
}


.form-popup {
  display: none;
  margin: auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
}


.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


.form-container .cancel {
  background-color: red;
}


.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

a.button {
    padding: 1px 2px;
    border: 1px outset buttonborder;
    border-radius: 1px;
    color: buttontext;
    background-color: buttonface;
}
